DATABASE_URL=""
DATABASE_URL_POOLED=""
AUTH0_DOMAIN=""
AUTH0_AUDIENCE=""
APP_ORIGINS="http://localhost:4200,https://tally-theta-two.vercel.app,https://tally.vercel.app,https://tallypoints.app,https://www.tallypoints.app"
WAITLIST_WEBHOOK_URL=""
PORT=3000
